.main {
    height: 100vh;
    width: 100vw;
    background: var(--gray-light); /* Arrière-plan clair */
    display: flex;
    flex-direction: column;
    font-family: var(--font-family); /* Utilisation de la police Outfit */
}

.header-container {
    flex-basis: 8%;
    background: var(--primary-color); /* Arrière-plan noir */
    color: var(--secondary-color); /* Texte blanc */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background: var(--secondary-color); /* Arrière-plan blanc */
    color: var(--gray-dark); /* Texte gris foncé */
}
